<div id="modal-project-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" style="display: none"
aria-hidden="true">
<div class="modal-dialog modal-fluid">
  <div class="modal-content">
    <div class="modal-header">
      &nbsp;
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
        <span class="d-none">×</span>
      </button>
    </div>
    <div class="modal-body">
      <article class="article">
        <div class="article-header">
          <h2 class="article-title" href="https://github.com/eqan/Netflix-In-CSharp">Netflix</h2>
          <h3 class="article-subtitle">Video Streaming Application that is inspired by netflix</h3>
          <p class="article-tags">Frontend — Backend — DataBase</p>
        </div>
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-12 col-lg-6">
            <p>Utilizing the best of Algorithms, I have created this project on an experimental basis to discover
              the mechanism/possibilities of Technologies which somewhat covers the fundamentals of the Online Video
            streaming servies such as Youtube &amp; Netflix.</p>
            <h9>
              <b>Note: This Project Is Solely Made For Educational Purposes &amp; Is Entirely Self Made, None Of
              This Has RelationShip Of Any Kind With Netflix Or Any Other Video Streaming Service</b>.
            </h9>
            <blockquote>
              <h2>Features</h2>
              <ul style="list-style-type:none">
                <li>✔ Metro UI Design</li>
                <li>✔ Full Compact Video Player Using AX Movie Player SDK</li>
                <li>✔ Using Fisher Yates Algorithm For Recommendation System</li>
                <li>✔ Using Hashing Algorithm For Ultra Fast Search Results</li>
                <li>✔ Full localized Data Base System</li>
                <li>✔ Efficient Usage Of Data Structures &amp; Algorithms</li>
              </ul>
              <h2>Future Prospects</h2>
              <ul>
                <li> AES 256 Encryption For Passwords </li>
                <li> Code Optimization </li>
              </ul>
            </blockquote>
          </div>
          <div class="col-12 col-lg-6">
            <img class="img-fluid mb-10" src="./Assets/project_1.png" alt="Netflix" />
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
</div>
<div id="modal-project-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" style="display: none"
aria-hidden="true">
<div class="modal-dialog modal-fluid">
  <div class="modal-content">
    <div class="modal-header">
      &nbsp;
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
        <span class="d-none">×</span>
      </button>
    </div>
    <div class="modal-body">
      <article class="article">
        <div class="article-header">
          <h2 class="article-title">Awesome Window Manager</h2>
          <h3 class="article-subtitle">Linux Window manager & Desktop Environment Alternative</h3>
          <p class="article-tags">Contributions — Frontend — Backend</p>
        </div>
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-12 col-lg-6">
            <p>
              <h5>Original work by PapyElGringo</h5>
              <h6>This project is being further developed by Eqan Ahmad</h6>
              <h3>Features</h3>
              <ul style="list-style-type:none">
                <li>✔ Material Design UI</li>
                <li>✔ A Full Desktop Replacement</li>
                <li>✔ Built-In Native Lua Widgets</li>
                <li>✔ Different Layouts</li>
                <li>✔ Fully Customizable</li>
                <li>✔ User Friendly</li>
                <li>✔ 300MB Idle Ram Consumption</li>
                <li>✔ Vim Key-Bindings Supported</li>
              </ul>
              <h3>Future Prospects</h3>
              <ul>
                <li>Tree Tiling Setup for Awesome</li>
              </ul>
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <img class="img-fluid mb-10" src="./Assets/project_2.png" alt="Awesome"
            href="https://github.com/eqan/material-awesomev2">
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
</div>
<div id="modal-project-3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" style="display: none"
aria-hidden="true">
<div class="modal-dialog modal-fluid">
  <div class="modal-content">
    <div class="modal-header">
      &nbsp;
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
        <span class="d-none">×</span>
      </button>
    </div>
    <div class="modal-body">
      <article class="article">
        <div class="article-header">
          <h2 class="article-title">Instagram Re-Imagened</h2>
          <h3 class="article-subtitle">A decentralized social media application</h3>
          <p class="article-tags">Frontend — Backend - DataBase</p>
        </div>
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-12 col-lg-6">
            <p>
              A social media platform that utilizes SQL in a decentralized way
              <h3>Features</h3>
              <ul style="list-style-type:none">
                <li>✔ Flat UI</li>
                <li>✔ Themes[Dark/Light]</li>
                <li>✔ Localized Database using SQL at the back end</li>
                <li>✔ All essential features of a social media app, post, stories, likes, bookmarks etc</li>
                <li>✔ Activity Notification</li>
                <li>✔ Search Engine</li>
                <li>✔ Profile View</li>
              </ul>
              <h3>Future Prospects</h2>
                <ul>
                  <li> AES 256 Encryption For Passwords </li>
                  <li> Code Optimization </li>
                  <li> Chat system </li>
                  <li> Comment System </li>
                  <li> Much More </li>
                </ul>
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <img class="img-fluid mb-10" src="./Assets/project_3.png" alt="Mentix"
              href="https://www.behance.net/gallery/102287529/App-Launcher" />
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>