          <section id="section-09" class="section animation">
            <div class="section-body">
              <h2 class="section-title animation-translate-overline animation-item-1">
                Projects
              </h2>
              <div class="row animation-translate animation-item-2">
                <div class="col-12 col-md-4">
                  <a class="card" href="#modal-project-1" data-toggle="modal">
                    <img class="card-img-top" src="./Assets/project_1.png" alt="Netflix" />
                    <div class="card-body">
                      <h3 class="card-title">Netflix</h3>
                      <h4 class="card-subtitle">Video Streaming Application that is inspired by netflix</h4>
                      <p class="card-tags">Frontend — Backend - DataBase</p>
                    </div>
                  </a>
                </div>
                <div class="col-12 col-md-4">
                  <a class="card" href="#modal-project-2" data-toggle="modal">
                    <img class="card-img-top" src="./Assets/project_2.png" alt="Awesome" />
                    <div class="card-body">
                      <h3 class="card-title">Awesome</h3>
                      <h4 class="card-subtitle">Linux Window manager & Desktop Environment Alternative</h4>
                      <p class="card-tags">Contributions — Frontend — Backend</p>
                    </div>
                  </a>
                </div>
                <div class="col-12 col-md-4">
                  <a class="card" href="#modal-project-3" data-toggle="modal">
                    <img class="card-img-top" src="./Assets/project_3.png" alt="Instagram" />
                    <div class="card-body">
                      <h3 class="card-title">Instagram Re-Imagened</h3>
                      <h4 class="card-subtitle">A decentralized social media application</h4>
                      <p class="card-tags">Frontend - Backend - Database</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-3">
              <a class="section-next goto-section" href="#section-10">
                <span class="section-next-counter">09/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>