          <section id="section-02" class="section animation">
            <div class="section-body">
              <div class="row">
                <div class="col col-xl-10">
                  <h2 class="section-title animation-translate-overline animation-item-1">
                    About me
                  </h2>
                  <article class="article animation-translate animation-item-2">
                    <p>
                      Eqan Ahmad, is currently pursuing BS Computer Science
                      from one of the most prestigious university of Pakistan,
                      FAST NUCES. He aspires to be a Full stack Developer also
                      arming with AI & Automation Capabilities to make every
                      day tasks at ease.
                    </p>
                    <p>
                      He seeks towards eliminating repitition in daily tasks
                      with the aid of Software & AI. He is passionate about
                      Programming in General, the Code Structure & the
                      complexity of the code has been enticing towards his
                      career.
                    </p>
                    <p>
                      He also puts his creative side in formulating minimal
                      UI/UX projects as he has a certain passion for
                      developing minimal, user friendly and fully functional
                      software.
                    </p>
                  </article>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-3">
              <a class="section-next goto-section" href="#section-03">
                <span class="section-next-counter">02/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>