          <section id="section-07" class="section animation">
            <div class="section-body">
              <h2 class="section-title animation-translate-overline animation-item-1">
                Education
              </h2>
              <div class="timeline timeline-animated">
                <div class="timeline-item">
                  <span class="timeline-date">2019&nbsp;–&nbsp;now</span>
                  <h3 class="timeline-title">FAST NUCES</h3>
                  <p class="timeline-text">
                    BS Computer Science at National University Of Computer
                    Science & Technology
                  </p>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-2">
              <a class="section-next goto-section" href="#section-08">
                <span class="section-next-counter">07/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>