          <section id="section-01" class="section section-sub-header animation interaction-in">
            <div class="section-body">
              <div class="jumbotron jumbotron-fluid pt-6 pt-lg-8 pb-0 mb-0">
                <img src="./Assets/avatar.jpg" class="jumbotron-img animation-translate animation-item-1"
                alt="Avatar" />
                <h1 class="display-1 display-animated display-animated-in animation-translate animation-item-2">
                  Eqan<br />Ahmad
                </h1>
                <p class="lead animation-translate animation-item-3">
                  Future Software Developer & AI Specialist
                </p>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-4">
              <a class="section-next goto-section" href="#section-02">
                <span class="section-next-counter">01/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>