          <section id="section-06" class="section animation">
            <div class="section-body">
              <h2 class="section-title animation-translate-overline animation-item-1">
                Honors
              </h2>
              <div class="timeline timeline-animated">
                <div class="timeline-item">
                  <span class="timeline-date">2021</span>
                  <h3 class="timeline-title">Amal Fellowship</h3>
                  <p class="timeline-text">
                   A Stanford University Project, to develop professional skills , have been selected from a competitive pool of 4,300.</br>
                  </p>
                </div>
              </div>
              <div class="timeline timeline-animated">
                <div class="timeline-item">
                  <span class="timeline-date">2019</span>
                  <h3 class="timeline-title">Global Change Makers Essay Competition</h3>
                  <p class="timeline-text">
                   Attained 30% Scholarship, Competition among 250 Participants across 77 Countries. </br>
                  </p>
                </div>
              </div>
              <div class="timeline timeline-animated">
                <div class="timeline-item">
                  <span class="timeline-date">2019</span>
                  <h3 class="timeline-title">Top 5 in UI/UX in the whole institue</h3>
                   <p class="timeline-text">
                  Ranked amongst the top 5 in the UI/UX course in the whole institue.
                   </br>
                  </p>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-3">
              <a class="section-next goto-section" href="#section-07">
                <span class="section-next-counter">06/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>