
          <section id="section-08" class="section animation">
            <div class="section-body">
              <h2 class="section-title animation-translate-overline animation-item-1">
                Experiences
              </h2>
              <h3 class="section-subtitle animation-translate animation-item-2">
                Software Engineering
              </h3>
              <div id="software-engineering">
                <div class="timeline timeline-animated">
                  <div class="timeline-item">
                    <span class="timeline-date">2021&nbsp;–&nbsp;Now</span>
                    <h3 class="timeline-title">NUCES Work Place</h3>
                    <p class="timeline-text">
                     Lead Developer</br>
                      → Faculty management website that is to be used for organzing academic and research materials.</br>
                      → MERN Stack being used as its core architecture.</br>
                      → Leading a team for this project.</br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2021&nbsp;–&nbsp;now</span>
                    <h3 class="timeline-title">FCAP</h3>
                    <p class="timeline-text">
                      Vice President at the FAST Club Of App Development & Programming </br>
                      → Hosting Events such as speed programming </br>
                      → Conducting Workshops </br>
                      → Leading different activities off and on campus related to technology </br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2020&nbsp;–&nbsp;Now</span>
                    <h3 class="timeline-title">Github</h3>
                    <p class="timeline-text">
                     Open Source Developer</br>
                      → Developing projects that for the ease of common person. </br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2021&nbsp;–&nbsp;2021</span>
                    <h3 class="timeline-title">JP Morgan & Chase</h3>
                    <p class="timeline-text">
                     Trainee Software Engineer</br>
                      → Establishing financial data feeds with python </br>
                      → Front end web development using react </br>
                      → Data visualization using perspective </br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2021&nbsp;–&nbsp;2021</span>
                    <h3 class="timeline-title">FAST CFD Official Website</h3>
                    <p class="timeline-text">
                      Lead Developer</br>
                      → Maintenance of the website </br>
                      → Modifications as per need of the institution </br>
                      → Vulnerabilities elimintation </br>
                      → Website speed maintenance </br>
                    </p>
                  </div>
                </div>
              </div>
          </br>
          </br>
          </br>
              <h3 class="section-subtitle animation-translate animation-item-2">
                Social Work
              </h3>
              <div id="social-work">
                <div class="timeline timeline-animated">
                  <div class="timeline-item">
                    <span class="timeline-date">2019&nbsp;–&nbsp;2021</span>
                    <h3 class="timeline-title">UNAP</h3>
                    <p class="timeline-text">
                    Member at the United Nations Association Of Pakistan </br>
                      → Total of 1220 minutes were contributed </br>
                      → Performed social services such as Justice for zohra campaign, representative of Pakistan for Global Change Makers Essay Competition etc </br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2020&nbsp;–&nbsp;2021</span>
                    <h3 class="timeline-title">CDRS</h3>
                    <p class="timeline-text">
                    Project Manager at Comprehensive Disaster Response Services </br>
                      → Presenting more sustainable ideas for the betterment of education in our Society</br>
                        </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2019&nbsp;–&nbsp;2021</span>
                    <h3 class="timeline-title">Silent Steps</h3>
                    <p class="timeline-text">
                    Member at Silent Steps Society[FAST NUCES]</br>
                      → Worked as a graphic designer to spread awareness for different campaigns such as Fundings for educations etc </br>
                      → Worked as an active member to host different events</br>
                    </p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2019&nbsp;–&nbsp;2020</span>
                    <h3 class="timeline-title">NYAP</h3>
                    <p class="timeline-text">
                      Member at the National Youth Assembley
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-2">
              <a class="section-next goto-section" href="#section-09">
                <span class="section-next-counter">08/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>