          <section id="section-05" class="section animation">
            <div class="section-body">
              <h2 class="section-title animation-translate-overline animation-item-1">
                Programming
              </h2>
              <div class="timeline timeline-animated">
                <div class="timeline-item">
                  <span class="timeline-date">2021&nbsp;–&nbsp;now</span>
                  <h3 class="timeline-title">Hacker Rank</h3>
                  <p class="timeline-text">
                   4-Star Silver Rank in Problem Solving </br>
                  </p>
                </div>
              </div>
            </div>
            <div class="section-footer animation-translate animation-item-3">
              <a class="section-next goto-section" href="#section-06">
                <span class="section-next-counter">05/11</span>
                <span class="section-next-label">Next chapter</span>
                <span class="section-next-icon"></span>
              </a>
            </div>
          </section>