  <nav class="sections-nav-container">
    <ul id="sections-nav" class="nav sections-nav sections-nav-animated">
      <li class="sections-nav-item">
        <a href="#section-01" class="nav-link sections-nav-link goto-section active">
          <span class="sections-nav-counter">01</span>
          Top
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-02" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">02</span>
          About me
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-03" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">03</span>
          My profiles
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-04" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">04</span>
          Skills
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-05" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">05</span>
          Programming
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-06" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">06</span>
          Honors
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-07" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">07</span>
          Education
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-08" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">08</span>
          Experiences
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-09" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">09</span>
          Projects
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-10" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">10</span>
          Testimonials
        </a>
      </li>
      <li class="sections-nav-item">
        <a href="#section-11" class="nav-link sections-nav-link goto-section">
          <span class="sections-nav-counter">11</span>
          Contact
        </a>
      </li>
      <li class="sections-nav-item">
        <div class="sections-nav-info">
          <a href="mailto:eqan.ahmad123@gmail.com">eqan.ahmad123@gmail.com</a><br />
          <a href="tel:+923137226876">+92 313 7226876</a>
        </div>
      </li>
    </ul>
  </nav>